<app-products-navbar (productEventEmitter)="onActionEvent($event)"></app-products-navbar>


<ng-container *ngIf="productState$ | async as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="ProductsStateEnum.INITIAL">
    <div class="p-2">Initial State</div>
  </ng-container>
  <ng-container *ngSwitchCase="ProductsStateEnum.LOADING">
    <div class="p-2">Loading State</div>
  </ng-container>
  <ng-container *ngSwitchCase="ProductsStateEnum.LOADED">
    <app-products-list [productsState]="state"></app-products-list>
  </ng-container>
  <ng-container *ngSwitchCase="ProductsStateEnum.ERROR">
    <div class="p-2">{{state.errorMessage | json}}</div>
  </ng-container>
</ng-container>


